*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Outfit";
    
} 
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); 
    text-decoration: none;
    color: hsl(228, 45%, 44%)
}

#main {
    width: 325px;
    margin: auto;
    height: 480px;
    padding: 12px;
    border-radius: 20px;
    margin-top: 10vh;
    background-color: hsl(0, 0%, 100%);
}

.code img {
    width: 300px;
    height: 300px;
    border-radius: 12px;

}
.note {
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    font-family: "Outfit";
}
.note h3 {
    font-size: 18px;
}
.note p{
    margin-top: 20px;
    color: hsl(220, 15%, 55%);
    font-Family: "Outfit";
}

#base {
    margin-top: 20px;
}